<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <style>
    #loader {
      transition: all .3s ease-in-out;
      opacity: 1;
      visibility: visible;
      position: fixed;
      height: 100vh;
      width: 100%;
      background: #fff;
      z-index: 90000
    }

    #loader.fadeOut {
      opacity: 0;
      visibility: hidden
    }

    .spinner {
      width: 40px;
      height: 40px;
      position: absolute;
      top: calc(50% - 20px);
      left: calc(50% - 20px);
      background-color: #333;
      border-radius: 100%;
      -webkit-animation: sk-scaleout 1s infinite ease-in-out;
      animation: sk-scaleout 1s infinite ease-in-out
    }

    @-webkit-keyframes sk-scaleout {
      0% {
        -webkit-transform: scale(0)
      }

      100% {
        -webkit-transform: scale(1);
        opacity: 0
      }
    }

    @keyframes sk-scaleout {
      0% {
        -webkit-transform: scale(0);
        transform: scale(0)
      }

      100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0
      }
    }
  </style>
  <link href="/style.css" rel="stylesheet">
</head>

<body class="app">
  <!-- 
  <div class="peers ai-s fxw-nw h-100vh">

    <div class="col-12 col-md-4 peer pX-40 pY-80 h-100 bgc-white scrollable pos-r" style="min-width:320px">

      <form id="myform">
        <div class="form-group"><label for="username">Password</label>
          <input type="text" class="form-control" name="password" id="password" placeholder="password">
        </div>
        <div class="form-group"><label for="password">Confirm Password</label>
          <input type="password" class="form-control" name="confirmpassword" id="confirmpassword"
            placeholder="confirmpassword">
        </div>

        <button type="button" id="submitform" class="btn btn-primary">Reset Password</button>
      </form>


      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

      <script>
        (function ($) {
          $('#submitform').on('click', function (e) {
            const password = document.getElementById("password").value;
            console.log("password", password);
            $.ajax({
              url: "/api/v1/auth/resetpassword/<%= token %>",
              type: 'POST',
              data: { password: password },
              // headers: {
              //   "Content-Type": "application/json"
              // },
              success: function (results) {

              }
            })
          })


        })(jQuery)
      </script> -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12">
            <form action="/api/v1/auth/resetpassword/<%= token %>" method="POST">
              <legend>Reset Password</legend>
              <div class="form-group">
                <input type="password" name="password" value="" placeholder="New password" id="password" autofocus="autofocus"
                  class="form-control" />
              </div>
              <div class="form-group">
                <input type="password" name="confirm" value="" placeholder="Confirm password" id="confirm"
                  class="form-control" />
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Update Password</button>
              </div>
            </form>
          </div>
        </div>
      </div> 

  </div>

  </div>
  </div>
  </div>


</body>

</html>